# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.

*       @JP-Dhabolt

# The below files have no CODEOWNERS to allow for dependabot automation

.changeset/dependabot-*.md
package-lock.json
**/package.json
